.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

h1 {
  color: #333;
}

input[type="text"] {
  padding: 8px;
  margin-right: 8px;
}

button {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 20px 650px 0 650px;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
}
